

body {
padding-right: 2.5em;
padding-left: 2.5em;
margin-right: auto;
margin-left: auto;


}
.container{
	color:#4BB0CC;
	font-family: Verdana,serif, times, "New Times Roman";
	font-size:2.5em;
	font-weight: 500;
	background-color:#88CFE3;
}
#footer, nav.navbar-info{
	font-size:1.75em;
	color:#4BB0CC;
	margin-right:3.5em;
	margin-left:3.5em;
	font-family: Verdana,serif, times, "New Times Roman";
	text-align:center;
	
}
#session{
	float:right;
	padding:.5em;
	margin-top: 1.5em;
}


nav.navbar-info{
	background-image: url('navbar-bg.png');
  	background-repeat: repeat-x;
 	background-color: #E3E7E8;
	
}
.jumbotron{
	/*background-color: #e8e8e8;*/
}
